
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
__pycache__*/
.idea*/
.idea/
.pytest_cache/
Python/ZzPythonProject/WrtMarketResearch/*.csv
venv/
.ipynb_checkpoints/
.ipynb_checkpoints*/
/Python/ZzPythonProject/WrtMarketResearch/ResultData/*.csv
/Python/ZzPythonProject/WrtMarketResearch/Probability_Body_Range_RangeUp_RangeDn_Gaps.zip
Python/ZzPythonProject/Integration/DataFolder/
.vscode/
.vscode*/


#MQL4-5 Ignore Section
*.ex4
*.ex5
MQL4/Experts/*
!MQL4/Experts/PunkBASSter/
MQL4/Files/*
!MQL4/Files/PunkBASSter/
MQL4/Indicators/*
!MQL4/Indicators/PunkBASSter/
MQL4/Include/*
!MQL4/Include/PunkBASSter/
!MQL4/Include/Dependencies/
MQL4/Libraries/*
!MQL4/Libraries/PunkBASSter/
MQL4/Logs/*
MQL4/Scripts/*
!MQL4/Scripts/PunkBASSter/
