
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
__pycache__*/
.idea*/
/Python/ZzPythonProject/.idea/cntk_tutorials.iml
Python/ZzPythonProject/.idea/misc.xml
Python/ZzPythonProject/.idea/cntk_tutorials.iml
Python/ZzPythonProject/ZzPeaksPrediction/.pytest_cache/README.md
Python/ZzPythonProject/ZzPeaksPrediction/.pytest_cache/v/cache/lastfailed
Python/ZzPythonProject/ZzPeaksPrediction/.pytest_cache/v/cache/nodeids
Python/ZzPythonProject/ZzPeaksPrediction/DataTransforms/Tests/.pytest_cache/v/cache/lastfailed
Python/ZzPythonProject/ZzPeaksPrediction/DataTransforms/Tests/.pytest_cache/v/cache/nodeids
